.book {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: .5rem;
  text-align: center;
}

.book__author {
  margin-top: .5rem;
  color: #0068f9;
}

.book__genre {
  font-size: 12px;
  border: 1px solid #ccc;
  background-color: #eee;
  display: inline-block;
  padding: .25rem .5rem;
  border-radius: 10px;
  margin-top: 1rem;
}
